.capaGrande {
    max-width: 540px;
}
.capaMedia{
    max-width: 270px;
}
.capaPequena {
    max-width: 135px;
}

.carregamento{
    font-size: 14px !important;
}

.hover-zoom {
    transition: transform 0.3s;
}
.hover-zoom:hover {
    transform: scale(1.1);
}