{% extends '/layouts/base.html' %}
{% block conteudo %}

<div class="container py-5">
    <h5 class="mb-3">Pesquisou por: {{pesquisa}}</h5>
    <div class="row">
        <div class="col-lg-9 col-md-12">
            {% if posts %}
            <div class="row">
                {% for post in posts %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{{ url('post/'~post.id)}}">
                                <h5 class="card-title">{{post.titulo}}</h5>
                                <p class="card-text">{{resumirTexto(post.texto,150) | raw}}</p>

                            </a>
                        </div>
                    </div> 
                </div>
                
                {%endfor %}
            </div>
            {% else %}
            <div class="alert alert-warning " role="alert">
                <div>
                    Não foi possível obter algum resultado para sua pesquisa!
                </div>
            </div>
            {% endif %}


        </div>

        <div class="col-lg-3">
            {% include'sidebar.html'%}
        </div>
    </div>


</div>

{% endblock %}